<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="box">
          <h2 class="title is-4"><%= heading %></h2>
          <%= form_with model: @event do |f| %>

            <div class="field">
              <div class="control">
                <%= f.label :title, 'Title: ', class: 'label' %>
                <%= f.text_field :title, class: 'input', autofocus: true %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :start, 'Starts: ', class: 'label' %>
                <%= f.datetime_local_field :start, style: 'width: 100%; font-size: 1em' %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :end, 'Ends: ', class: 'label' %>
                <%= f.datetime_local_field :end, style: 'width: 100%; font-size: 1em' %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :location, 'Location: ', class: 'label' %>
                <%= f.text_area :location, class: 'textarea' %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :description, 'Description: ', class: 'label' %>
                <%= f.text_area :description, class: 'textarea' %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.submit "Submit", class: 'button' %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

